<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>GrindTracker</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<body>
    <!-- <app-root></app-root> -->
    <h1>Electron renderer body.</h1>
    <p>👋</p>
    <p id="info"></p>

    Debug: <input [(ngModel)]="debugStatus" placeholder="Debug title" />
    <button (click)="onSetDebug()">Set</button>

    <!-- Opening file example -->
    <button (click)="onSetDebug()">Open a File</button>
    File path: <strong id="filePath"></strong>
</body>

</html>